---
import Layout from '../layouts/Layout.astro';
import WindowLayout from '../layouts/WindowLayout.astro';
---

<Layout>
	<h1>Welkom bij mijn blog!</h1>
	<p>Hier kan je alles vinden over mijn laatste semester bij FDND!</p>
	<WindowLayout />
</Layout>
