---
import Layout from "./Layout.astro"
const {frontmatter} = Astro.props;
const {title, description, date, category, image} = frontmatter;
console.log(frontmatter) 
---

<Layout>
  <section>
    <p>hello</p>
    <slot />
  </section>
</Layout>