---
---
<!doctype html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="src/assets/styles/global.css">
		<title>mijn website</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
:root {
  /* CUSTOM PROPERTIES */
	--common-padding: 2em;
	
	/* --COLOR-- */
	--background-color:hsl(295, 100%, 50%);
	--background-text-color:hsl(249, 100%, 14%);

	/* FONTS */
	--main-font:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	--regular-font-size:16px;

  /* MAIN STYLES */
  font-family: var(--main-font);
	background-color: var(--background-color);
	color: var(--background-text-color);
}

html,
* {
  padding: 0;
  margin: 0;
}
body {
 padding: var(--common-padding);
}

p,
ul,
li,
a { 
	font-size: var(--regular-font-size)
}
</style>

