---
import "xp.css/dist/XP.css"
import Layout from "./Layout.astro"
import data from "../../data.json"
---
<Layout>
  <ul>
    {data.data.map(({ title, description, slug, gif }) => (
      <li class="window">
        <a href="/">
          <section class="title-bar">
            <h2 class="title-bar-text">{title}</h2>
          </section>				
          <div class="window-body">
            <img src={gif} alt={title} />
            <p>{description}</p>
          </div>
        </a>
      </li>
    ))}
  </ul>

</Layout>

<style>
  ul {
    padding-inline-start: 0;
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em;

    @media (min-width:700px) {
      grid-template-columns: 1fr 1fr;
      gap: 2em;
    }
  }

  li {
    list-style: none;
    transition: .2s .2s ease;

    &:hover{
      transform: scale(1.2);
      rotate: 2deg;
    }
  }

  h2 {
    font-weight: 700;
    font-size: 14px;
  }

  div {
    min-height: 20em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
  }

  img {
    --ratio: 15em;
    width: 15em;
    height: 10em;
    object-fit: cover;
  }

  p {
    font-size: var(--regular-font-size );
  }

  a {
    text-decoration: none;
    color: unset;
  }

</style>